[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/
Builds/
*.csproj
*.sln
*.log
.vs/

Backups/
Server/*.sqlite*
Server/*.key

Server/node_modules/

Server/admin-auth.json

Release/Legacy/
Release/Windows/**/*.pdb
