player-connection-mode=Listen
player-connection-guid=3596941670
player-connection-debug=0
player-connection-project-name=Echoes of the Rift
player-connection-ip=192.168.50.146
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3f4d25c314814b818b7332b71dc421bf
